h1 
{
    font-size: xx-large;
    text-decoration: underline;
}


p 
{
    font-size: medium;
}

body 
{
    border: 15px solid #4472c4; 
    background-color: white;
    padding: 10px 10px;
}

/* ici commence la partie cadre de la page 
flex = l'élément est interprété comme un élément block de type conteneur d'élément flexible.*/
#cadre{
    display:flex;
}

/* ici commence la partie gauche de la page 
flex-direction: column = organisation en colonne */
#gauche
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* #gauche pour gérer l'alignement de toutes les images, sauf celles de la div image1 */
#gauche img
{
    text-align: left;
    max-width:100%;
    height:auto%;
}

/* flex-star = commence en début de ligne */

.logo
{
    display: flex;
    justify-content: flex-start;
}

.montage
{
    display: flex;
    justify-content: flex-start;
}

/* row-reverse = alignement inversé
max-wigth = 50% pour faire la moitié de l'image montage et faire que les deux images s'alignent sous montage */
.image1
{
    display: flex;
    justify-content: row-reverse;
    max-width:50%;
    height:auto%;
}

/* ici commence la partie droite de la page 
float:left = placement à gauche de la div gauche
*/
#droite
{
    float:left
}